@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D06257;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #34073D;
    --foreground: #ededed;
  }
  :container {
    background: linear-gradient(to bottom right, #722b47, #34073D);
  }
}

body {
  color: white;
  background: var(--background);
  font-family: 'Bodoni Moda', serif;
}
h1{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
}

container {
  background: linear-gradient(to bottom right, #722b47, #34073D);
}

detail {
  background: linear-gradient(to right, #EF745C, #B15052)
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
